# EditorConfig
# http://EditorConfig.org

root = true

# Base config
[*]
charset                  = utf-8
indent_style             = tab
trim_trailing_whitespace = true

# MSBuild
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
indent_size  = 2
indent_style = space

# JSON files (and other JSON files)
[*.{json,uproject,uplugin}]
indent_size  = 2
indent_style = space
